<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="checkUser.css" type="text/css">
    <title>Verification</title>
</head>

<body>
    <div class="container">
        <form action="/check" method="post">
            <h2>CHECK FOR USER</h2>
            <input type="text" name="userId" class="user" autocomplete="off">
            <button type="submit" class="check">CHECK</button>
        </form>
    </div>
</body>

</html>